.MuiSnackbarContent-root {
    background-color: #00A5CF !important;
    min-width: fit-content !important;
}

@media all and (max-width:600px) and (max-width:1000px) {

    .MuiSnackbarContent-root {
        background-color: #00A5CF !important;
        min-width: fit-content !important;
    }

}
 
.MuiButton-root {
    border-radius: 0px !important;
}